/*INICIO GLOBAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*FINAL GLOBAL*/

/*-INICO HEADER-*/

.header-bg {
  background: #7e0d0d;
  border-bottom: 1px solid #9e1516;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  gap: 30px;
}

/*-FINAL HEADER-*/

/*-INICIO LOGO-*/

.logomarca h1 {
  color: #fafafa;
  letter-spacing: 5px;
}

.logomarca p {
  color: #e6e6e6;
}

/*-FINAL LOGO-*/

/*-INICO HEADER-MENU-*/

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu a {
  display: inline-block;
  padding: 15px 0;

  font-size: 18px;
  text-transform: uppercase;
  color: #e6e6e6;
  position: relative;
}

.header-menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e6e6e6;
  display: block;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover::after {
  width: 100%;
}

/*-FINAL HEADER-MENU-*/

/*-INICIO HERO*/

.hero {
  height: calc(100vh - 76px);
  background-image: url(./imagem/medico.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #141414;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.hero h1 {
  font-size: 60px;
  color: #ffffff;
  z-index: 1;
}

.hero p {
  z-index: 1;
  font-size: 18px;
  color: #d1d1d1;
  margin-bottom: 35px;
}

.hero a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 1;
  background: #7e0d0d;
  color: #e6e6e6;
  display: block;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #cc3233;
  transition: 0.5s;
}

.hero a:hover {
  background: #cc3233;
  color: #ffffff;
}

/*-FINAL HERO-*/

/*-INICIO SEÇÃO TRATAMENTOS-*/

.tratamentos-bg {
  background: linear-gradient(#7e0d0d 460px, #e6e6e6 0);
}

.tratamentos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0px;
}

.tratamentos h2 {
  color: #fafafa;
  font-size: 35px;
  margin-bottom: 5px;
  max-width: 28ch;
}

.tratamentos > p {
  margin-bottom: 40px;
  max-width: 45ch;
  font-size: 20px;
  color: #e6e6e6;
}

/*FINAL SEÇÃO TRATAMENTOS*/

/*-INICIO CARDS-*/

.tratamentos-card {
  display: flex;
  gap: 20px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

/*FINAL CARDS*/

/*INICIO IMAGEM CARD*/

.card .imagem {
  background-image: url(./imagem/medicamentos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 135px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card:nth-child(2) .imagem {
  background-image: url(./imagem/cirurgia.jpg);
}

.card:nth-child(3) .imagem {
  background-image: url(./imagem/dispositivos.jpg);
}

.card:nth-child(4) .imagem {
  background-image: url(./imagem/diagnostico.jpg);
}

/*FINAL IMAGEM CARD*/

/*-INICIO CONTEUDO CARD-*/

.tratamentos-card-conteudo {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #ffffff;
}

.tratamentos-card-conteudo h1 {
  color: #1e0101;
  margin-bottom: 10px;
  position: relative;
  margin-left: 28px;
}

.tratamentos-card-conteudo h1::before {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background: #f57b7b;
  position: absolute;
  top: 10px;
  left: -28px;
}

.tratamentos-card-conteudo p {
  color: #525252;
  line-height: 1.3;
  flex: 1;
  margin-bottom: 10px;
}

/*FINAL CONTEUDO CARD-*/

/*-INICIO CARD BOTAO-*/

.tratamentos-card-botao {
  background: #cc3233;
  transition: 0.3s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tratamentos-card-botao:hover {
  background: #b22122;
}

.tratamentos-card-botao a {
  color: #fafafa;
  display: block;
  padding: 10px;
  font-size: 30px;
  font-weight: 0;
  transition: 0.5s ease-out;
}

.tratamentos-card-botao a:hover {
  margin-left: 35px;
}

/*-FINAL CARD BOTAO-*/

/* INICIO SEVICOS */

.planos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
}

.planos > h2 {
  font-size: 40px;
  color: #1e0101;
  position: relative;
}

.planos span {
  color: #cc3233;
  letter-spacing: 2px;
}

.planos > p {
  font-size: 20px;
  margin-bottom: 50px;
  max-width: 50ch;
  color: #292929;
}

.planos ul {
  border: 1px solid #e6e6e6;
}
.planos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  align-items: center;
  border-left: 5px solid transparent;
}

.planos-grid:hover {
  border-left: 5px solid #cc3233;
}

.planos-conteudo {
  padding-right: 30px;
  padding-left: 15px;
}

.planos-grid:nth-child(2) .planos-conteudo {
  padding-right: 0px;
  padding-left: 30px;
}

.planos-conteudo i {
  font-size: 50px;
  color: #bababa;
  margin-bottom: 5px;
}

.planos-conteudo h2 {
  font-size: 28px;
  color: #1e0101;
  margin-bottom: 15px;
}

.planos-conteudo p {
  color: #0e0000;
  line-height: 1.5;
}

.planos-imagem {
  background-image: url(./imagem/saude.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
}

.planos-grid:nth-child(2) .planos-imagem {
  background-image: url("./imagem/empresarios.jpg");
  background-position: top center;
}

.planos-grid:nth-child(3) .planos-imagem {
  background-image: url("./imagem/pessoalimpre.jpg");
}

.contato {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contato-localizacao {
  background: linear-gradient(#7e0d0d, #b22122);
  padding: 20px;
  padding-bottom: 40px;
}

.contato-localizacao h2 {
  color: #ffff;
  font-size: 28px;
  margin-bottom: 30px;
}

.contato-localizacao li {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-left: 0px;
  gap: 15px;
}

.contato-localizacao i {
  color: #e85657;
  font-size: 20px;
}

.contato-localizacao p {
  color: #fafafa;
}

.contato-formulario {
  background: #fafafa;
  padding: 20px;
  padding-bottom: 40px;
}

.contato-formulario span {
  color: #cc3233;
}

.contato-formulario h2 {
  color: #0e0000;
  max-width: 36ch;
  font-size: 28px;
  margin-bottom: 30px;
}

.contato-dados > div {
  padding: 10px 0px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.contato-dados label {
  display: block;
  margin-bottom: 5px;
  color: #0e0000;
  font-size: 18px;
  position: relative;
}

.contato label::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 5px;
  background: #cc3233;
  top: 7px;
  left: -25px;
}

.contato-dados input {
  padding: 8px;
  width: 350px;
  border: 2px solid #e6e6e6;
  background: #fafafa;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
}

.contato-dados input:focus {
  border-color: skyblue;
  background: #ffffff;
}

.contato-dados textarea {
  width: 350px;
  border: 2px solid #e6e6e6;
  background: #fafafa;
  border-radius: 5px;
  outline: none;
}

.contato-dados textarea:focus {
  border-color: skyblue;
  background: #ffffff;
}

.contato-dados button {
  padding: 15px 45px;
  font-size: 18px;
  border: 1px solid #e85657;
  background: linear-gradient(#7e0d0d, #b22122);
  color: #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
}

.contato-dados button:hover {
  background: linear-gradient(#b22122, #7e0d0d);
}
@media (max-width: 800px) {
  .header {
    max-width: 600px;
  }

  .header-menu {
    gap: 10px;
  }

  .header-menu a {
    background: #9e1516;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .header-menu a::after {
    display: none;
  }

  .tratamentos-bg {
    background: #e6e6e6;
  }

  .tratamentos {
    max-width: 600px;
    padding: 30px 0px;
  }

  .tratamentos h2 {
    color: #1e0101;
  }

  .tratamentos p {
    color: #292929;
  }

  .tratamentos-card {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .card {
    width: 290px;
  }

  .planos {
    max-width: 600px;
  }

  .planos-grid {
    padding: 0;
    margin-bottom: 10px;
  }

  .planos-conteudo {
    padding: 10px;
  }

  .planos-grid:nth-child(2) .planos-conteudo {
    padding: 10px;
  }

  .planos-conteudo h2 {
    font-size: 22px;
  }

  .planos-conteudo i {
    font-size: 40px;
  }

  .contato {
    grid-template-columns: 1fr;
    max-width: 600px;
    gap: 40px;
  }

  .contato-mapa {
    width: 400px;
    overflow: hidden;
  }

  .contato-localizacao {
    border-radius: 5px;
  }

  .contato-formulario {
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .btn-mobile {
    height: 2px;
    width: 20px;
    border-top: 2px solid #e6e6e6;
    position: absolute;
    right: 30px;
  }

  .btn-mobile::after,
  .btn-mobile::before {
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background: #e6e6e6;
    margin-top: 5px;
    transition: 0.3s;
  }

  .nav.active .btn-mobile {
    border-top-color: transparent;
  }

  .nav.active .btn-mobile::before {
    transform: rotate(135deg);
  }

  .nav.active .btn-mobile::after {
    transform: rotate(-135deg);
    position: absolute;
    top: 0px;
  }

  .header {
    margin: 0px 30px;
    padding: 10px 0px;
  }

  .header-menu {
    display: block;
    top: 65px;
    z-index: 2;
    padding-left: 20px;
    background: blue;
    right: 0px;
    width: 100%;
    height: 0px;
    transition: 0.6s;
    position: absolute;
    background: #7e0d0d;
    visibility: hidden;
    overflow-y: hidden;
  }

  .nav.active .header-menu {
    height: 50vh;
    visibility: visible;
    overflow: auto;
  }

  .header-menu a {
    background: none;
    padding: 20px 0;
    margin: 0 10px;
    border-bottom: 1px solid #9e1516;
    border-radius: 0px;
    display: block;
  }

  .header-menu a::after {
    display: none;
  }

  .hero {
    justify-content: end;
    align-items: start;
    padding: 15px 30px;
  }

  .hero h1 {
    margin-bottom: 5px;
    max-width: 10ch;
  }

  .hero p {
    max-width: 34ch;
    text-align: left;
    margin-bottom: 20px;
  }

  .tratamentos {
    padding: 10px 30px;
  }

  .tratamentos h2 {
    max-width: 20ch;
  }

  .tratamentos p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .tratamentos-card {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 230px;
    width: 100%;
  }

  .card {
    height: 500px;
  }
  .tratamentos-card-conteudo {
    padding: 5px 20px;
  }

  .tratamentos-card-conteudo p {
    margin-bottom: 0px;
  }

  .tratamentos-card-botao a {
    padding: 0px 10px;
  }

  .planos {
    margin: 0;
    padding: 10px 30px;
  }

  .planos > h2 {
    font-size: 35px;
  }

  .planos > p {
    font-size: 18px;
    max-width: 35ch;
    margin-bottom: 25px;
  }

  .planos-grid {
    border-left: none;
    margin-bottom: 20px;
  }

  .planos-grid:hover {
    border-left: none;
  }

  .planos-imagem {
    height: 500px;
  }

  .contato {
    padding: 0px 27px;
    margin: 0;
  }
}

@media (max-width: 425px) {
  .hero {
    justify-content: end;
    align-items: start;
    padding: 30px;
  }

  .hero h1 {
    font-size: 50px;
    max-width: 9ch;
  }

  .hero p {
    max-width: initial;
    text-align: initial;
  }

  .tratamentos h2 {
    font-size: 30px;
    max-width: 100%;
  }

  .tratamentos p {
    max-width: 30ch;
  }

  .planos-grid {
    grid-template-columns: 1fr;
  }

  .planos-imagem {
    display: none;
  }

  .contato-mapa {
    width: 330px;
  }

  .contato-dados > div {
    padding: 5px;
  }

  .contato-dados input {
    width: 250px;
  }

  .contato-dados textarea {
    width: 250px;
  }

  .contato-dados button {
    padding: 15px;
    width: 100%;
  }
}

@media (max-width: 326px) {
  .contato-localizacao li {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-bottom: 12px;
  }
  .contato-mapa {
    display: none;
  }

  .contato-localizacao {
    padding-bottom: 20px;
  }
  .contato-localizacao i {
    font-size: 35px;
  }

  .contato-formulario {
    padding: 5px;
  }

  .contato-formulario h2 {
    font-size: 25px;
  }

  .contato-dados > div {
    padding: 0;
  }

  .contato-dados input,
  .contato-dados textarea {
    width: 200px;
  }
}
